<h1>Perfil del Usuario</h1>
<p>Nombre: {{first_name}} {{last_name}}</p>
<p>Email: {{email}}</p>
<p>Edad: {{age}}</p>
<p>Rol: {{role}}</p>
<p>Carrito: {{cart}}</p>



<form action="/api/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>
